extends base

block content 
    main(class="main")
        div(class="card-container")
            each tour in tours
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img(
                                src=`img/tours/${tour.imageCover}`
                                alt=`${tour.name}` 
                                class="card__picture-img"
                            )
                        h3(class="heading-tertirary")
                            span #{tour.name}
                    
                    .card__details
                        h4(class="card__sub-heading")= `${tour.difficulty} ${tour.duration}-day tour`
                        p(class="card__text")= tour.summary

                        - 
                            const cardDataContent = [
                                {   
                                    hrefIcon: "img/icons.svg#icon-map-pin",
                                    content: tour.startLocation.description 
                                },
                                {   
                                    hrefIcon: "img/icons.svg#icon-calendar",
                                    content: tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
                                },
                                {   
                                    hrefIcon: "img/icons.svg#icon-flag",
                                    content: `${tour.locations.length} stops` 
                                },
                                {   
                                    hrefIcon: "img/icons.svg#icon-user",
                                    content: `${tour.maxGroupSize} people`
                                }                      
                            ];

                        each cardContent in cardDataContent  
                            .card__data
                                svg(class="card__icon")
                                    use( xlink:href = cardContent.hrefIcon )
                                span= cardContent.content
                    
                    .card__footer
                        p
                            span(class="card__footer-value")= `$${tour.price}`
                            | 
                            span(class="card__footer-text") per person
                        
                        p(class="card__ratings")
                            span(class="card__footer-value")= tour.ratingsAverage
                            | 
                            span(class="card__footer-text")= `rating (${tour.ratingsQuantity})`
                        
                        a(href=`/tours/${tour.slug}` class="btn btn--green btn--small") Details
                        
