extends base
include _reviewCard

mixin overviewBox(label,text,icon)
    .overview-box__detail
        svg(class="overview-box__icon")
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span(class="overview-box__label")= label
        span(class="overview-box__text")= text

block content 
    section(class="section-header")
        .header__hero 
            .header__hero-overlay &nbsp;
            img(class="header__hero-img" src=`/img/tours/${tour.imageCover}`, alt=tour.name)

        .heading-box
            h1(class="heading-primary")
                span #{tour.name}

            .heading-box__group
                .heading-box__detail
                    svg(class="heading-box__icon")
                        use(xlink:href="/img/icons.svg#icon-clock")
                    span(class="heading-box__text")= `${tour.duration} days`

                .heading-box__detail
                    svg(class="heading-box__icon")
                        use(xlink:href="/img/icons.svg#icon-map-pin")
                    span(class="heading-box__text") #{tour.startLocation.description}
    
    section(class="section-description")
        .overview-box
            div
                .overview-box__group
                    h2(class="heading-secondary ma-bt-lg") Quick facts

                    +overviewBox('Next date', tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'}), 'calendar')
                    +overviewBox('Difficulty', tour.difficulty ,'trending-up')
                    +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user')
                    +overviewBox('Rating', `${tour.ratingsAverage} / 5` ,'star')
                
                .overview-box__group
                    h2(class="heading-secondary ma-bt-lg") Your tour guides
                    
                    each guide in tour.guides
                        .overview-box__detail
                            img(
                                src=`/img/users/${guide.photo}`
                                alt=`${guide.name}`
                                class="overview-box__img"
                            )

                            - if(guide.role === 'lead-guide')
                                span(class="overview-box__label") Lead guide 
                            - if(guide.role === 'guide')
                                span(class="overview-box__label") Tour guide
                                
                            span(class="overview-box__text") #{guide.name}
                    
    
        .description-box
            h2(class="heading-secondary ma-bt-lg")= `About the ${tour.name} tour`

            - const paragraphs = tour.description.split('\n')

            each paragraph in paragraphs 
                p(class="description__text")= paragraph

    section(class="section-pictures")

        each img, index in tour.images 
            .picture-box
                img(
                    class=`picture-box__img picture-box__img--${index+1}`
                    src=`/img/tours/${img}`
                    alt=`${tour.name} Tour ${index+1}`
                )

    section(class="section-map")
        #map(data-locations = JSON.stringify(tour.locations))
    
    section(class="section-reviews")
        .reviews
            each review in tour.reviews 
                +reviewCard(review)
                
    
    section(class="section-cta")
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png', alt='Natours logo')

            img(src=`/img/tours/${tour.images[1]}` class="cta__img cta__img--1" alt="tour picture")
            img(src=`/img/tours/${tour.images[2]}` class="cta__img cta__img--2" alt="tour picture")

            .cta__content
                h2(class="heading-secondary") What are you waiting for?
                p(class="cta__text")= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`

                if user
                    button(class="btn btn--green span-all-rows" id="book-tour" data-tour-id=`${tour.id}`) Book tour now!
                else 
                    a(class="btn btn--green span-all-rows" href='/login') Login to book a tour!

        
